* {
    font-family: 'Roboto', sans-serif;
    /* border: #fff solid 1px; */
}

body {
    background-color: #000000;
}

.shadow-5 {
    color: #6FB07E;
}

#hero {
    width: 100%;
    opacity: 30%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#greeting {
    color: #5AD767;
}


h2 {
    color: #272e36;
}

p {
    color: #838995;
}

.nav-link, a {
    color: #6FB07E;
}

.nav-link:hover, a:hover, i:hover {
    color: #5AD767;
}

i {
    color: #dbfce7;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 137, 149, 0.7);
}

#cv-h2 {
    color: #6FB07E;
}

.btn {
    background-color: #272e36 !important;
    color: #5AD767 !important;
}