body {
    background-color: #838995;
}

.hero {
    background-color: #272E36;
    padding: 0px;
}

#greeting {
    color: #5AD767;

}

p {
    color: #DBFCE7;
}

.btn {
    color: #5AD767;
    background-color: #424851;
}

.btn:hover {
    color: #5AD767;
    background-color: #272E36;
}