* {
    font-family: 'Roboto', sans-serif;
    /* border: #fff solid 1px; */
}

body {
    background-color: #000000;
}

#hero {
    width: 100%;
    opacity: 30%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#header1 {
    color: #5AD767;
    align-items: center;
    flex-direction: column;
}

.socials:hover, p, h2, .card-subtitle {
    color: #838995;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
}

.nav-link, a {
    color: #6FB07E;
}

.nav-link:hover, a:hover {
    color: #5AD767;
}

.socials, .fa-brands {
    color: #6FB07E;
}

#pfp {
    border-radius: 50%;
    max-width: 200px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bio-text {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.1rem;
}

#sig {
    font-family: 'Shadows Into Light', serif;
    text-align: left;
    color: #5AD767;
    font-style: italic;
    letter-spacing: 0.2cap;
}

#cv {
    height: 10vh;
}

.codecademy {
    background-image: url(/assets/img/codecademy.png);
    background-size: cover;
    background-position: 0% 50%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.codecademy a {
    color: #DBFCE7;
}

.codecademy a:hover {
    color: #5AD767;
}

.portfolio-row {
    justify-content: center;
}

.card {
    background-color: none !important;
}

.card-img {
    object-fit: cover;
    object-position: 0% 0%;
    height: 30vh;
}

.card-title {
    color: #DBFCE7 !important;
}

#contact, #bio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 137, 149, 0.4);
    padding: 2rem 0 2rem 0;
}

.btn {
    background-color: rgb(39, 46, 54, 0.7) !important;
    color: #5AD767 !important;
    font-size: 1rem !important;
    border: 1px rgb(90, 215, 103, 0.5) solid !important;
}

.btn:hover {
    background-color: #6FB07E !important;
}